:root {
    // Colors
    --bg-color: #1B1924;
    --text-color: #FCFAF6;
    --input-bg-color: #444059;
    --input-text-color: #8F8F8F;
    --button-bg-color: #28A9F1;
    --btn-hover-color: #0369A1;
}