@use '../util/' as u;

article {
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: u.rem(14);
    padding: u.em(15);

    p {
        padding: u.rem(6) 0 u.rem(10);
        line-height: normal;
    }

    .endorsement-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: inherit;
            border: none;
            cursor: pointer;
            position: relative;

            #heart:hover::before {
                content: "❤️";
                position: absolute;
            }
        }
    }
}