@use '../util/' as u;

textarea, input {
    background-color: var(--input-bg-color);
    color: var(--white);
    font-size: u.rem(15);
    padding: u.em(15);
    border: none;
    border-radius: 8px;

}

textarea {
    width: 100%;
    height: u.em(120);
}

input {
    text-align: center;
    max-width: 48%;
}

.form button {
    background-color: var(--button-bg-color);
    height: u.rem(60);
    border: none;
    border-radius: 8px;
    padding: 5px 0 0;
    font-size: u.rem(22);
    text-align: center;
    cursor: pointer;
    transition: all ease-in 100ms;

    &:hover {
        background-color: var(--btn-hover-color);
        color: var(--text-color);
    }

    &:active {
        background-color: var(--text-color);
    }
}